
.container > .image1, .container > .image3{
    width: 300px;
    height: 300px;
    filter: brightness(50%);
 

}    
.left{
    position: absolute;
    top: 240%;
    left: 15%;
}
.right{
    position: absolute;
    top: 240%;
    right: 24%;
}
