.test{
    margin-top: 40px;
   }
   .testimonails-list li{
       display: inline;
       list-style: none;
   }
   .testimonails-list li a{
       
       padding: 10px;
       font-weight: bold;
       font-size: 20px;
       
   }
   .testimonails-list a.active{
       border-bottom: 3px solid #081A2B;
   }
.test > .container{
    display: flex;
    width: 920px;
    height: auto;
    margin: 30px auto;
}
.box{
    width: 32%;
    height: auto;
    border: 1px solid #ccc;
    margin-right: 1%;
    padding: 5px;
    background: white;
    border-radius: 10px;
    transition: 0.9;
    
}
.box:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
    cursor: pointer;
}
img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h5,p{
    text-align: center;
    color: rgb(104, 92, 92);
}
p{
    font-size: 15px;
    padding: 0 5px;
}
.ratings{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.checked {
    color: orange;
  }
.customer-img{
    height: 20%;
    width: 30%;
    margin-left: 100px;

}
@media (max-width: 800px){
    .test > .container{
        width: 100%;
    }

}
@media (max-width: 600px){
    .test > .container{
        width: 85%;
        display: block;
    }
    .box{
        width: 100%;
        margin-bottom: 4%;
    }
    
}

