.offer-heading{
    text-align: center;
}
.offer-heading .heading-offer{
    font-weight: bolder;
    font-size: 48px;
}
.offer-heading .services{
    font-size: 20px;
}

.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card-body{
    width: 100%;
    text-align: center;
}
.card-title{
    font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 29px;

/* identical to box height */
letter-spacing: 0.2px;

color: #081A2B;


}
.btn-view-services{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.card{
    border: 1px solid rgb(136, 133, 133);
    height: 300px;
    box-shadow: 5px 10px #888888;
    
}
.offer4{
    border-top: 7px solid orange;
}
.offer1{
    border-top: 7px solid yellow;
}
.offer2{
    border-top: 7px solid #C6A136;
}
.offer3{
    border-top: 7px solid #A2B8C1;
}