footer{
    left: 0px;
    top: 0px;
    height: 400px;
    background: #058ACC;
    color: white;
    text-align: center;

}
.copy{
    text-align: center;
    left: 0px;
    top: 0px;
    height: 100px;
    background: #0a2b3b;
    color: white;

}
.inside{
    color: white;
    left: 0%;
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    footer {
        left: 0px;
        top: 0px;
        height: 990px;
        background: #058ACC;
        color: white;
    }

  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    footer {
        left: 0px;
        top: 0px;
        height: 990px;
        background: #058ACC;
        color: white;
    }
    }
  